@import './func-common.css';

/* fn pc */

.mtfun(@counter) when (@counter < 200) {
  .mt-@{counter} {
    margin-top: unit(@counter, px);
  }

  .mtfun((@counter + 5)); // 递归调用自身
}

.mt(@counter) {
  margin-top: unit(@counter, px);
}

.mlfun(@counter) when (@counter < 200) {
  .ml-@{counter} {
    margin-left: unit(@counter, px);
  }

  .mlfun((@counter + 5)); // 递归调用自身
}

.ml(@counter) {
  margin-left: unit(@counter, px);
}

.mrfun(@counter) when (@counter < 200) {
  .mr-@{counter} {
    margin-right: unit(@counter, px);
  }

  .mrfun((@counter + 5)); // 递归调用自身
}

.mr(@counter) {
  margin-right: unit(@counter, px);
}

.mbfun(@counter) when (@counter < 200) {
  .mb-@{counter} {
    margin-bottom: unit(@counter, px);
  }

  .mbfun((@counter + 5)); // 递归调用自身
}

.mb(@counter) {
  margin-bottom: unit(@counter, px);
}

.ma() {
  margin-left: auto;
  margin-right: auto;
}

.mlr(@counter) {
  .ml(@counter);
  .mr(@counter);
}

.ptfun(@counter) when (@counter < 200) {
  .pt-@{counter} {
    padding-top: unit(@counter, px);
  }

  .ptfun((@counter + 5)); // 递归调用自身
}

.pt(@counter) {
  padding-top: unit(@counter, px);
}

.plfun(@counter) when (@counter < 200) {
  .pl-@{counter} {
    padding-left: unit(@counter, px);
  }

  .plfun((@counter + 5)); // 递归调用自身
}

.pl(@counter) {
  padding-left: unit(@counter, px);
}

.prfun(@counter) when (@counter < 200) {
  .pr-@{counter} {
    padding-right: unit(@counter, px);
  }

  .prfun((@counter + 5)); // 递归调用自身
}

.pr(@counter) {
  padding-right: unit(@counter, px);
}

.pbfun(@counter) when (@counter < 200) {
  .pb-@{counter} {
    padding-bottom: unit(@counter, px);
  }

  .pbfun((@counter + 5)); // 递归调用自身
}

.pb(@counter) {
  padding-bottom: unit(@counter, px);
}

.plr(@counter) {
  .pl(@counter);
  .pr(@counter);
}

.ptb(@counter) {
  .pt(@counter);
  .pb(@counter);
}

.mtb(@counter) {
  .mt(@counter);
  .mb(@counter);
}

.absolute(@b, @bottom: bottom) {
  position: absolute;
  @{bottom}: @b;
}

.fixed(@b, @bottom: bottom) {
  position: absolute;
  @{bottom}: @b;
}

.fs(@px) {
  font-size: unit(@px, px);
}

/*----- 宽度 -----*/
.w(@px) {
  width: unit(@px, px);
}

/*----- 高度 -----*/
.h(@px) {
  height: unit(@px, px);
}

.wh(@px) {
  .w(@px);
  .h(@px);
}

/*----- 行高 -----*/
.lh(@px) {
  line-height: unit(@px, px);
}

.bottom(@px) {
  bottom: unit(@px, px);
}

.right(@px) {
  right: unit(@px, px);
}

.top(@px) {
  top: unit(@px, px);
}

.left(@px) {
  left: unit(@px, px);
}

.letterspacing(@fs, @sp) {
  letter-spacing: unit(@fs * @sp /1000, px);
}

.letterspacingcn(@fs, @sp) {
  &::first-letter {
    margin-left: -0.18em;
  }

  letter-spacing: unit(@fs * @sp / 1000, px);
}

.fix-bottom(@n) {
  position: absolute;
  width: 100%;
  .bottom(@n);
}
