<section pc-flex-important class="section section-footer">
  <div class="left">
    <img src="../img/index/footer-logo.png" alt="" class="footer-icon logo">
    <img src="../img/index/footer-gotop.png" alt="" class="footer-icon go-top animated infinite bounce">
  </div>
  <div class="mid">
    <div class="top">
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.2s">品牌</li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s"><a href="./brand.html">品牌</a></li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s"><a href="./product-list.html">产品</a></li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s"><a href="./case.html">案例</a></li>
      </ul>
<!--      暂时去掉-->
<!--      <ul>-->
<!--        <li class="title wow fadeInUp" data-wow-delay="0.4s">了解我们</li>-->
<!--        <li class="link wow fadeInUp" data-wow-delay="0.6s"><a href="./news.html">头条</a></li>-->
<!--        <li class="link wow fadeInUp" data-wow-delay="0.6s"><a href="./services.html">服务与活动</a></li>-->
<!--        <li class="link wow fadeInUp" data-wow-delay="0.6s"><a href="./cooperation.html">商业合作</a></li>-->
<!--      </ul>-->
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.6s">联系我们</li>
        <li class="link wow fadeInUp" data-wow-delay="0.8s"><a href="mailto:artpeak@artpeak.com.cn">artpeak@artpeak.com.cn</a></li>
        <li class="link wow fadeInUp" data-wow-delay="0.8s"><a href="mailto:sales_cn@artpeak.com.cn">sales_cn@artpeak.com.cn</a></li>
        <li class="link wow fadeInUp" data-wow-delay="0.8s"><a href="tel:0769-877203762">0769-877203762</a></li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.8s">公司总部</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">中国广东省东莞市塘厦镇</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">田心科苑城工业区蛟坪大道6号PC 523718</li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.8s">深圳设计中心</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">中国广东省深圳市福田区</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">深业上城LOFT B-we work</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">联合办公空间</li>
      </ul>
    </div>
    <div class="bottom">
      <div class="partner-wrapper">
        <img class="footer-icon partner" src="../img/index/footer-partner.png"></div>
      <img class="footer-icon weixin" src="../img/index/footer-weixin.png"><img class="footer-icon weibo" src="../img/index/footer-weibo.png">
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div a-link="./store-list.html" class="content-wrapper">
        <img class="position footer-icon" src="../img/index/footer-location.png"></img>
        <div class="txt">探寻实体店</div>
      </div>
    </div>
    <div class="bottom">
      <div class="copyright">
        ©Copynight 2017 Nicefeel Pte Ltd.all Rights<br>Reserved粤ICP备17073915号
      </div>
    </div>
  </div>
</section>
<section h5-important class="section section-footer">
  <div class="h5-top">
    <div class="h5-top-left">
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.2s">联系我们</li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s"><a href="mailto:artpeak@artpeak.com.cn">artpeak@artpeak.com.cn</a></li>
        <li class="link wow fadeInUp" data-wow-delay="0.5s"><a href="mailto:sales_cn@artpeak.com.cn">sales_cn@artpeak.com.cn</a></li>
        <li class="link wow fadeInUp" data-wow-delay="0.6s"><a href="tel:0769-877203762">0769-877203762</a></li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.8s">公司总部</li>
        <li class="link link2 wow fadeInUp" data-wow-delay="0.9s">中国广东省东莞市塘厦镇田心</li>
        <li class="link link2 wow fadeInUp" data-wow-delay="1s">科苑城工业区蛟坪大道6号PC</li>
        <li class="link link2 wow fadeInUp" data-wow-delay="1.2s">523718</li>
      </ul>
      <div class="copyright">©ICP备17073915号</div>
    </div>
    <div class="h5-top-right">
      <!-- <img src="" alt=""> -->
      <img class="weixin footer-icon" src="../img/h5/index/footer-weixin.png" />
      <img class="weibo footer-icon" src="../img/h5/index/footer-weibo.png" />
    </div>
  </div>
  <div class="h5-bottom">
    <img class="partner" src="../img/h5/index/footer-partner.png" />
  </div>
</section>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/plugins.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<script type="text/javascript" src="../js/local-plugins.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
