<div class="left-menu" tabindex="0">
  <div class="header">
    <div class="brand-container" a-link="./store-list.html">
      <div class="brand-left">
        <img src="../img/index/brand-white.png">
      </div>
      <div class="brand-right">
        <div class="title-t">Stores</div>
        <div class="title-b">
          探寻实体店
          <img class="position-icon" src="../img/index/position-white.png"></div>
      </div>
    </div>
    <div class="line"></div>
  </div>
  <div class="menu-wrapper">
    <ul class="menu-container">
      <li class="menu-item" a-link="./store-list.html#shunde">
        <div class="menu-block"><span class="zh-name">顺德</span><span class="en-name">Shunde</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#dongguan">
        <div class="menu-block"><span class="zh-name">东莞</span><span class="en-name">Dongguan</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#zhuhai">
        <div class="menu-block"><span class="zh-name">珠海</span><span class="en-name">Zhuhai</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#guangzhou">
        <div class="menu-block"><span class="zh-name">广州</span><span class="en-name">Guangzhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#huizhou">
        <div class="menu-block"><span class="zh-name">惠州</span><span class="en-name">Huizhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#fuzhou">
        <div class="menu-block"><span class="zh-name">福州</span><span class="en-name">Fuzhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#hangzhou">
        <div class="menu-block"><span class="zh-name">杭州</span><span class="en-name">Hangzhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#shaoxing">
        <div class="menu-block"><span class="zh-name">绍兴</span><span class="en-name">Shaoxing</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#ningbo">
        <div class="menu-block"><span class="zh-name">宁波</span><span class="en-name">Ningbo</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#taizhou">
        <div class="menu-block"><span class="zh-name">台州</span><span class="en-name">Taizhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#wenzhou">
        <div class="menu-block"><span class="zh-name">温州</span><span class="en-name">Wenzhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#lishui">
        <div class="menu-block"><span class="zh-name">丽水</span><span class="en-name">Lishui</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#changzhou">
        <div class="menu-block"><span class="zh-name">常州</span><span class="en-name">Changzhou</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#nantong">
        <div class="menu-block"><span class="zh-name">南通</span><span class="en-name">Nantong</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#shanghai">
        <div class="menu-block"><span class="zh-name">上海</span><span class="en-name">Shanghai</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#nanning">
        <div class="menu-block"><span class="zh-name">南宁</span><span class="en-name">Nanning</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#chengdu">
        <div class="menu-block"><span class="zh-name">成都</span><span class="en-name">Chengdu</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#dalian">
        <div class="menu-block"><span class="zh-name">大连</span><span class="en-name">Dalian</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#harbin">
        <div class="menu-block"><span class="zh-name">哈尔</span><span class="en-name">Harbin</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#huhhot">
        <div class="menu-block"><span class="zh-name">呼和浩特</span><span class="en-name">Huhhot</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#beijing">
        <div class="menu-block"><span class="zh-name">北京</span><span class="en-name">Beijing</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#xianghe">
        <div class="menu-block"><span class="zh-name">香河</span><span class="en-name">Xianghe</span></div>
      </li>
      <li class="menu-item" a-link="./store-list.html#xining">
        <div class="menu-block"><span class="zh-name">西宁</span><span class="en-name">Xining</span></div>
      </li>
    </ul>
  </div>
</div>
