<div class="dialogs">
  <div class="dialog dialog-store-info" id="modal-shunde">
    <div class="dialog-body">
      <div class="top-box">
        <div class="lr-c">
          <div class="info">
            <div class="title data-title">
              上海浦东｜红星美凯龙
            </div>
            <div class="info-line">
              <div class="info-item"><img src="../img/store-list/dialog/avatar.png" class="icon">孙海</div>
              <div class="info-item"><img src="../img/store-list/dialog/phone.png" class="icon">010-20200125</div>
              <div class="info-item"><img src="../img/store-list/dialog/time.png" class="icon">10:00-22:00</div>
            </div>
          </div>
          <div class="qr">
            <img src="../img/store-list/dialog/qrcode.png" class="qrcode">
            <div class="qrtxt">扫码联系客服</div>
          </div>
        </div>
      </div>
      <div class="bottom-box">
        <div class="info-txt"><img src="../img/store-list/dialog/location.png" class="icon"><span class="data-address">江苏省常州市新北区通江大道588号月星家居一楼A030自然主义</span></div>
      </div>
    </div>
    <div class="dialog-close-wrapper">
      <img src="../img/store-list/dialog/close.png" class="icon js-close-dialog">
    </div>
  </div>
</div>
<div class="dialogs">
  <div class="dialog dialog-store-info" id="modal-shanghai">
    <div class="dialog-body">
      <div class="top-box">
        <div class="lr-c">
          <div class="info">
            <div class="title data-title">
              上海浦东｜红星美凯龙 sh
            </div>
            <div class="info-line">
              <div class="info-item"><img src="../img/store-list/dialog/avatar.png" class="icon">孙海</div>
              <div class="info-item"><img src="../img/store-list/dialog/phone.png" class="icon">010-20200125</div>
              <div class="info-item"><img src="../img/store-list/dialog/time.png" class="icon">10:00-22:00</div>
            </div>
          </div>
          <div class="qr">
            <img src="../img/store-list/dialog/qrcode.png" class="qrcode">
            <div class="qrtxt">扫码联系客服</div>
          </div>
        </div>
      </div>
      <div class="bottom-box">
        <div class="info-txt"><img src="../img/store-list/dialog/location.png" class="icon"><span class="data-address">江苏省常州市新北区通江大道588号月星家居一楼A030自然主义</span></div>
      </div>
    </div>
    <div class="dialog-close-wrapper">
      <img src="../img/store-list/dialog/close.png" class="icon js-close-dialog">
    </div>
  </div>
</div>

<div class="dialogs">
  <div class="dialog dialog-store-info" id="modal-nanjing">
    <div class="dialog-body">
      <div class="top-box">
        <div class="lr-c">
          <div class="info">
            <div class="title data-title">
              上海浦东｜红星美凯龙
            </div>
            <div class="info-line">
              <div class="info-item"><img src="../img/store-list/dialog/avatar.png" class="icon">孙海</div>
              <div class="info-item"><img src="../img/store-list/dialog/phone.png" class="icon">010-20200125</div>
              <div class="info-item"><img src="../img/store-list/dialog/time.png" class="icon">10:00-22:00</div>
            </div>
          </div>
          <div class="qr">
            <img src="../img/store-list/dialog/qrcode.png" class="qrcode">
            <div class="qrtxt">扫码联系客服</div>
          </div>
        </div>
      </div>
      <div class="bottom-box">
        <div class="info-txt"><img src="../img/store-list/dialog/location.png" class="icon"><span class="data-address">江苏省常州市新北区通江大道588号月星家居一楼A030自然主义</span></div>
      </div>
    </div>
    <div class="dialog-close-wrapper">
      <img src="../img/store-list/dialog/close.png" class="icon js-close-dialog">
    </div>
  </div>
</div>

