/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func.css';

/* 3d */
/* .case-item {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), 0 3px 5px rgba(0, 0, 0, 0.05);
  position: relative;

  transform-style: preserve-3d;
  perspective: 1000px;
  z-index: 5;
  overflow: hidden;

  .left,
  .ze-img-w {
    position: relative;
    overflow: hidden;
     box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: absolute;
    bottom: -60px;
    right: -55px;
    width: 100%;
    height: 300px;
    border-radius: 9px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;overflow: hidden;

    transform-style: preserve-3d;
    transform: translateZ(15px);
    transition: all 0.5s;

  }

  .left::after {
    content: '';
    position: absolute;
    background: #FFF;
    width: 250%;
    height: 100%;
    top: -200%;
    left: -70%;
    transform: rotateZ(-45deg);
    opacity: 0.2;
    transition: all .5s;
  }

  &:hover {
    .ze-img-w {
      transform: translateZ(20px);
    }

    .left::after {
      top: 200%;
    }
  }
} */

.page.page-case-type {
  background: #F3FAFC;

  .banner-container {

    /* background-image: url('../img/case-type/banner.png'); */
    .bgcover();
    width: 100%;
    position: relative;
    .h(841);

    canvas {
      z-index: 0;
      width: 100%;
      height: 100%;
      margin: 0;
    }

    #wrapper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .title-wrapper {
      z-index: 2;
      .pt(123);
      .pl(63);
      width: 1380px;
      .ma();

      .title-sm.en {
        font-size: 16px;
        font-family: Gill Sans;
        font-weight: 600;
        color: rgba(255, 255, 255, 1);
        line-height: 1em;
      }

      .title.cn {
        font-size: 60px;
        font-family: HYQingYaTiJ;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 72/60;
        .letterspacingcn(-180, 60);
        .mt(21-6);
      }
    }
  }

  .case-list {
    z-index: 2;
    width: 1380px;
    margin-top: -490px;
    padding-bottom: 53px;
    .ma();

    .case-item.grid-wrapper {
      .mb(70);
      display: grid;
      .grid(2);
      background: white;

      &:nth-child(2n) {
        .grid-item {
          z-index: 3;
          &:last-child {
            grid-row-start: 1;
          }
        }
      }

      .grid-item {
        background: white;
      }

      .grid-item.left {
        height: 100%;
        .imagehover();
        img.grid-image {
          .obj-cover();
        }
      }

      .grid-item.right {
        padding: 85px 100px;
        z-index: 111;

        .work {
          .mb(18-(26-14)/2);
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(181, 181, 181, 1);
          line-height: 26/14;
        }

        .title-30 {
          font-size: 30px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          line-height: 1em;
          .mb(35-(26-12)/2);
        }

        .ppp.p12 {}

        .icon-group-wrapper {
          .mt(64-(26-12)/2);
        }

        .icon-group {
          .flex();

          .icon {
            .w(55);
            .h(31);
          }

          .icon-g {
            .flex();

            &::after {
              content: '';
              width: 1px;
              height: 10px;
              background: rgba(233, 233, 233, 1);
              margin: 0 23px;
            }

            &:last-child {
              &::after {
                display: none;
              }
            }
          }
        }

        .icon-more {
          .ml(17);
          .w(24);
          .h(24);
        }
      }
    }
  }
}
