/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func.css';

.page-case-detail {
  .icon-group {
    display: grid;
    .grid(5);
    /* grid-column-gap: 117px; */

    .icon-wrapper {
      text-align: center;

      .icon {
        width: 100px;
        height: 100px;
      }

      .txt {
        text-align: center;
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(89, 89, 89, 1);
        line-height: 26px;
      }
    }
  }

  .template-title-info {
    &.no-bb {
      border-bottom: none;
    }
  }

  /* banner */
  .banner-image {
    width: 100vw;
    height: unit(75300/1920, vw);
    min-height: 400px;
    .bgcover();
    .flexcenter();
  }

  .store-name {
    .name-en {
      .h(38);
      font-family: GillSans;
      font-weight: bold;
      color: rgba(255, 255, 255, 1);
      .fs(42);
      .letterspacing(42, 300);
    }

    .name-cn {
      .h(36);
      font-family: HYQingYaTiJ;
      font-weight: 500;
      color: rgba(255, 255, 255, 1);
      .fs(40);
      .letterspacing(40, -65);
    }
  }

  .detail-body-box {
    background: rgba(245, 245, 245, 1);
  }

  .detail-body {
    .ma();
    .w(1316);
    position: relative;
  }

  .goback {
    position: absolute;
    .left(-25-18);
    .top(84);
    .wh(18);

    img {
      .wh(18);
    }
  }
}

/* 
.page.page-case-detail {
    .banner-image {}

    .detail-body-box {
        .detail-body {
            .goback {
                img {}
            }

            .template-gap-80 {}

            .template-title-info {
                .left.flex-column {
                    .title {
                    }

                    .info-box.flex-row.wow.fadeInUp {
                        .address {}

                        .line {}

                        .time {}
                    }
                }

                .right {
                    .avatar-box.wow.fadeInUp {
                        i.icon.avatar {}

                        span {}
                    }

                    .phone-box.wow.fadeInUp {
                        i.icon.phone {}

                        span {}
                    }
                }
            }

            .template-title-info {
                .flex-column {
                    .title.wow.fadeInUp {}

                    .info-box.flex-column {
                        .infos {
                            .name.wow.fadeInRight {
                                img.icon {}
                            }

                            .phone.wow.fadeInRight {
                                img.icon {}
                            }

                            .time.wow.fadeInRight {
                                img.icon {}
                            }
                        }

                        .address.wow.fadeInUp {
                            img.icon {}
                        }
                    }
                }
            }



            .template-gap-30 {}

            .template-gap-45 {}

            .template-desc.wow.fadeInUp {}

            .template-gap-40 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-40 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-100 {}

            .template-title.wow.fadeInUp {}

            .template-gap-20 {}

            .template-desc.wow.fadeInUp {}

            .template-gap-50 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-40 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-40 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-100 {}

            .template-title.wow.fadeInUp {}

            .template-gap-20 {}

            .template-desc.wow.fadeInUp {}

            .template-gap-50 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-40 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-100 {}

            .template-title.wow.fadeInUp {}

            .template-gap-20 {}

            .template-desc.wow.fadeInUp {}

            .template-gap-50 {}

            .template-coloumn-3-image-box {
                img.wow.fadeIn {}

                img.wow.fadeIn {}

                img.wow.fadeIn {}
            }

            .template-gap-40 {}

            .template-image-1316-690.wow.fadeIn {
                img {}
            }

            .template-gap-130 {}

            .template-h5-gap-118 {}

            .h5-arrow-box {
                .arrow-box {
                    img {}

                    img {}
                }

                .share-box {
                    img {}

                    img {}
                }
            }

            .template-h5-gap-152 {}
        }
    }
} */
