@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func-rem.css';

@media (min-width: 352px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

[h5],
[h5-block] {
  display: none !important;
}

[h5-important],
[h5-block-important] {
  display: none !important;
}

[h5-inline] {
  display: none !important;
}

[h5-inline-block] {
  display: none !important;
}

[h5-flex] {
  display: none !important;
}

[pc],
[pc-block] {
  display: block !important;
}

[pc-only] {
  display: block;
}

[pc-important] {
  display: block !important;
}

[pc-flex-important] {
  display: flex !important;
}

[pc-flex] {
  display: flex !important;
}

[pc-inline] {
  display: inline !important;
}

[pc-inline-block] {
  display: inline-block !important;
}

@media (max-width: 767px) {

  [h5],
  [h5-block] {
    display: block !important;
  }

  [h5-flex] {
    display: flex !important;
  }

  [h5-inline] {
    display: inline !important;
  }

  [h5-inline-block] {
    display: inline-block !important;
  }

  [pc],
  [pc-block] {
    display: none !important;
  }

  [pc-only] {
    display: none;
  }

  [pc-flex] {
    display: none !important;
  }

  [pc-inline] {
    display: none !important;
  }

  [pc-inline-block] {
    display: none !important;
  }

  [pc-important] {
    display: none !important;
  }

  [pc-flex-important] {
    display: none !important;
  }

  [h5-important] {
    display: block !important;
  }
}


@media (max-width: 767px) {
  body {
    min-width: 340px;
  }

  .header-area {
    .flexavg();
    .plr(50);
    .pt(30);
    .pb(57);
    .h(78);

    .menu-icon {
      .w(78);
      .h(78);

      img {
        .w(78);
        .h(78);
      }
    }

    .nav-brand-right-img {
      .w(394);
      .h(78);
    }
  }

  .section-footer {
    .ha();
    background: rgba(0, 0, 0, 1);
    color: white;

    .h5-top {
      .flexrow();

      .h5-top-left {
        flex: 1;
        .h5ml();
        .mt(134);
        font-family: PingFangSC;
        font-weight: normal;

        ul {
          li {
            &.title {
              color: rgba(119, 119, 119, 1);
              .fs(22);
              .lh(22);
              .mb(45-(50-22)/2);
            }

            &.link {
              .w(288);
              color: rgba(255, 255, 255, 1);
              .fs(22);
              .lh(50);

              &.link2 {
                .lh(42px);
              }
            }
          }

          &:not(:first-child) {
            .mt(82-(50-22)/2);
          }
        }

        .copyright {
          .mt(121-(50-22)/2);
          .mb(116);
          font-family: PingFangSC;
          font-weight: normal;
          color: rgba(79, 79, 79, 0.65);
          .fs(20);
          .lh(20);
        }
      }


      .h5-top-right {
        .w(41*2+48);
        .flexcolumn();
        align-items: center;
        .pt(125);

        img {
          .wh(48);
          .mb(29);
        }
      }
    }

    .h5-bottom {
      border-top: 1px solid rgba(35, 35, 35, 1);
      .flexrow();
      align-items: center;
      .h(118);

      .partner {
        .h5ml();
        .w(609);
        .h(26);
      }
    }
  }

}
