/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func.css';

.page-store-list {

  /* banner */
  .banner-image {
    width: 100%;
    .h(389);
    .bgcover();
    .flexcenter();

    .banner-title {
      font-family: HYQingYaTiJ;
      font-weight: normal;
      color: rgba(255, 255, 255, 1);
      .fs(40);
    }
  }

  .lr-container {
    position: relative;
    overflow: visible;
    .mt(75);
    .ma();
    .w(672*2+36);

    .store-list {
      .store-item {
        .ma();
        .pb(52+(14-24)/2);

        .image-container {
          cursor: pointer;
          .w(1250);
          .h(352);
          .imagehover();

          img {}
        }

        .info-wrapper {
          .mt(21+(24-30)/2);
          .mb(11+(24-30)/2);

          .title {
            cursor: pointer;
            font-size: 24px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 1);
            line-height: 30px;
          }

          .position-info {
            cursor: pointer;
            .flex();

            img.icon.icon-position {
              width: 10px;
              height: 12px;
            }

            font-size:14px;
            font-family:PingFang SC;
            font-weight:400;
            color: rgba(140, 140, 140, 1);
            line-height:24px;
          }

        }
      }
    }

    .store-area-name-list {
      &.sfixed {
        position: fixed;
        top: 75px;
      }

      position: absolute;
      .top((14-24)/2);
      .left(672*2+36+(-41+6));

      .name {
        cursor: pointer;
        white-space: nowrap;

        &,
        a {
          color: rgba(164, 164, 164, 1);
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: 400;
          line-height: 24px;
        }

        &.active,
        &:hover {

          a,
          & {
            font-weight: 500;
            color: rgba(0, 0, 0, 1);
          }


          &::after {
            content: "";
            width: 18px;
            height: 1px;
            background: rgba(0, 0, 0, 1);
            display: inline-block;
            margin-bottom: .3em;
            .ml(10);
          }
        }
      }
    }
  }

  .dialog.dialog-store-info {
    .dialog-body {
      width: 900px;
      height: 341px;
      background: rgba(246, 246, 243, 1);
      padding: 50px 60px;

      .top-box {
        min-height: 91px * 2;
        .bb();

        .lr-c {
          .flexavg();

          .info {
            .title {
              font-size: 30px;
              font-family: PingFang SC;
              font-weight: 500;
              color: rgba(0, 0, 0, 1);
              line-height: 1em;
            }

            .info-line {
              .mt(18);
              .flex();

              .info-item {
                .mr(20);
                .flex();
                font-size: 15px;
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 1);
                line-height: 28px;

                img.icon {
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }

          .qr {
            img.qrcode {
              .wh(91);
            }

            .qrtxt {
              text-align: right;
              .mt(8-(28-14)/2);
              font-size: 14px;
              font-family: PingFang SC;
              font-weight: 400;
              color: rgba(0, 0, 0, 1);
              line-height: 28px;
            }
          }
        }
      }

      .bottom-box {
        .pt(28);

        .info-txt {
          .flex();
          font-size: 15px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          line-height: 28px/15px;
        }
      }

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    .dialog-close-wrapper {
      img.icon {}
    }
  }
}
