/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func-rem.css';

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .page-store-detail {

    /* banner */
    .banner-image {
      width: 100%;
      .w(750);
      .h(288);
      .bgcover();
      .flexcenter();
    }

    .store-name {
      .flexrow();
      align-items: center;

      .name-en {
        font-family: GillSans;
        font-weight: bold;
        color: rgba(255, 255, 255, 1);
        .fs(46);
        .letterspacing(46, 300);
      }

      .name-cn {
        .fs(40);
      }
    }

    .detail-body-box {
      background: rgba(245, 245, 245, 1);
    }

    .detail-body {
      .ma();
      .w(650);
      position: relative;
    }

    .goback {
      display: none;
    }

    .template-gap-10 {
      .pt(10);
    }

    .template-gap-20 {
      .pt(20);
    }

    .template-gap-30 {
      .pt(30);
    }

    .template-gap-40 {
      .pt(36);
    }

    .template-gap-45 {
      .pt(45);
    }

    .template-gap-50 {
      .pt(50);
    }

    .template-gap-60 {
      .pt(60);
    }

    .template-gap-80 {
      .pt(80);
    }

    .template-gap-100 {
      .pt(130);
    }

    .template-gap-130 {
      .pt(152);
    }

    .template-image-1316-690 {
      .w(650);
      .h(340);
      .bgcover();

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .template-h5-gap-118 {
      .pt(118);
    }

    .template-h5-gap-152 {
      .pt(152);
    }

    .template-title {
      font-family: PingFang;
      font-weight: bold;
      color: rgba(0, 0, 0, 1);
      .fs(34);
      .letterspacing(34, 20);
    }

    .template-desc {
      font-family: PingFang;
      font-weight: 500;
      color: rgba(62, 62, 62, 1);
      .fs(24);
      .lh(46);
    }

    .template-coloumn-3-image-box {
      .flexrow();
      .flexavg();

      img {
        .w(203);
        .h(293);
      }
    }

    .template-line {
      border-bottom: 1px solid rgba(195, 195, 195, 1);
    }

    .template-title-info {
      border-bottom: 1px solid rgba(195, 195, 195, 1);
      .flexrow();
      .flexavg();


      .title {
        font-weight: bold;
        .fs(40);
        .letterspacing(40, 20);
        .lh(30);
        .mb(49-4);
      }

      .info-box {
        .icon {
          .w(20);
          .h(20);
          .mr(8);
        }

        .infos {
          .flexrow();
          align-items: center;


          color: rgba(0, 0, 0, 1);
          .fs(22);
          .lh(22);

          .name {
            .flexrow();
            align-items: center;
            .mr(31);
          }

          .phone {
            .flexrow();
            align-items: center;
            color: rgba(0, 0, 0, 1);
            .mr(31);
          }

          .time {
            .flexrow();
            align-items: center;
          }
        }

        .address {
          .mt(40-5);
          .mb(-5);
          .fs(22);
          .lh(32);
          /* .lh(40); */
          .flexrow();
          align-items: center;
        }

        .mb(49);
      }
    }

    .h5-arrow-box {
      .flexrow();
      .flexavg();
      align-items: center;

      .arrow-box {
        .flexrow();

        img {
          .wh(84px);
          .mr(25);
        }
      }

      .share-box {
        .flexrow();

        img {
          .ml(36);
          .wh(65.1px);
        }
      }
    }
  }

}
