/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func.css';

body>.block-alone-bg {
  background-color: #000;
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 98;
  /* pointer-events: none; */
  object-fit: cover;
  /* transition: opacity .8s ease-out; */
}

/* 年份动画 */
@keyframes titleAnimation {
  0% {
    transform: translateY(-50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
  }

  20% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }

  80% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
  }

  100% {
    transform: translateY(0);
    opacity: 1;
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    /* transform: translateY(50px);
    opacity: 0;
    -webkit-clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%); */

  }
}

.years {
  span {
    -webkit-clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    transform: translateY(-50px);
    opacity: 0;
    animation-name: titleAnimation;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;

    &:first-child {
      animation-delay: 0.7s;
    }

    &:last-child {
      /* color: $secondary-color; */
      animation-delay: 0.5s;
    }

    .loopnth(@counter) when (@counter > 0) {
      .loopnth((@counter - 1));

      /* 递归调用自身 */
      /* 每次调用时产生的样式代码 */
      &:nth-child(@{counter}) {
        animation-delay: 0.6s + (0.1 * @counter);
      }
    }

    .loopnth(7);
  }
}

/* 左侧滚动 */
@keyframes scroll_effect {
  0% {
    width: 0
  }

  50% {
    width: 100px
  }

  75% {
    transform: translateX(0)
  }

  100% {
    transform: translateX(100%)
  }
}

.scroll_guide {
  z-index: 11;
  font-size: 10px;
  color: #fff;
  position: fixed;
  left: unit(32+15, px);
  bottom: unit(43+25, px);
  letter-spacing: .1em;
  transform: rotate(90deg);
  transform-origin: 0% 0%;

  .txt {
    transform: rotate(180deg);
    display: inline-block;
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: -208px;
    height: 1px;
    width: 100px;
    background: #fff;
    animation: scroll_effect 2s 2s cubic-bezier(.3, .4, .1, 1) infinite;
  }
}

@duration: 10s;

.page-index .section-1 {
  .flexrow();

  .left-banner {
    width: 329px;
    height: 835px;
    position: relative;
    overflow: hidden;

    .nav-image-list {
      overflow: hidden;
      position: relative;
      width: 100%;
      height: 100%;

      .p-top-kv__nav-img {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        will-change: width;

        .p-top-kv__nav-img-obj {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-position: left center;
          background-repeat: no-repeat;
          background-size: cover;
        }

        &.on {
          width: 100%;
          z-index: 5;
          opacity: 1;
          transition: width 0.7s linear 0s, transform 0.7s linear 0s;
        }

        &.off {
          width: 0;
          z-index: 10;
          opacity: 1;
          transition: width 0.7s linear 0s, transform 0.7s linear 0s;
        }
      }
    }
  }

  .right-wrapper {
    .pl(5);
    flex: 1;
    .flexcolumn();

    .right-banner {
      height: 718px;
      position: relative;
      overflow: hidden;

      .image-list {
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;

        .p-top-kv__main-img {
          overflow: hidden;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          transform: scale(1);
          /* transform: scale(1) translateX(20%); */
          opacity: 0;
          will-change: transform, width;

          .p-top-kv__main-img-obj {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: cover;
            transform: scale(1) translateX(0);
            will-change: transform;
            transform-origin: 0 50%;
          }

          &.on,
          &.scale {
            .p-top-kv__main-img-obj {
              transform: scale(1.1);
              transition: transform @duration linear 0s;
            }
          }

          &.off {
            .p-top-kv__main-img-obj {
              transform: scale(1.13);
              transition: transform 1.3s linear 0s;
            }
          }

          &.on {
            width: 100%;
            z-index: 5;
            opacity: 1;
            transition: width 1.3s linear 0s;
          }

          &.off {
            /* transform: translateX(-70px); */
            width: 0;
            z-index: 10;
            opacity: 1;
            transition: width 1.3s linear 0s;
          }

          &.on-init {
            width: 100%;
            z-index: 5;
            opacity: 1;
          }

        }

        .aspectFit {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text-wrapper {
        position: absolute;
        bottom: 58px;
        width: 100%;
        z-index: 11;

        .progress-wrapper {
          overflow: hidden;
          position: relative;
          margin: 0 68px;


          .progress-bar {
            width: 100%;
            height: 1px;
            background: rgba(246, 246, 246, .3);

            .progress {
              /* transition-duration: 5s; */
              /* transition-timing-function: linear; */
              height: 1px;
              width: 100%;
              opacity: 1;
              transform: scaleX(0);
              transform-origin: left center;
              will-change: transform;
              background-color: rgba(246, 246, 246, 1);

              &.off {
                opacity: 0;
                transition: opacity .7s ease 0s
              }

              &.on {
                transform: scaleX(1);
              }
            }
          }

        }

        .title-small {
          height: 15px;
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 15px;
        }

        .title-big {
          .mt(19);
          .mb(37);
          height: 40px;
          font-size: 40px;
          font-family: HYQingYaTiJ;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 40px;

          .concept {
            .mr(15);
            .letterspacing(42, 300);
            font-size: 42px;
            font-family: Gill Sans;
            font-weight: 600;
            color: rgba(255, 255, 255, 1);
            line-height: 40px;
          }
        }
      }
    }

    .nav-wrapper {
      .pl(58);
      flex: 1;
      .flexrow();
      align-items: center;

      .kv-nav-button {
        cursor: pointer;
        width: 44px;
        height: 44px;

        &.nav-left {}

        &.nav-right {}
      }

      .nav-show {
        margin: 0 89px;
        font-size: 12px;
        font-family: Bjorn;
        font-weight: 400;
        color: rgba(131, 131, 131, 1);
        line-height: 69px;

        #js-kv-main-index {
          width: 16px;
          display: inline-block;
        }

        .diagonal {
          margin: 0 17px;
          width: 14px;
          height: 14px;

          .tran-icon {
            display: inline-block;
            transform: rotate(20deg);
            text-align: center;
            color: rgba(101, 101, 101, 1);
          }
        }
      }
    }

  }
}

.page-index .section-2 {
  height: 887px;
  background-image: url('../img/index/矢量智能对象@2x(1).png');
  .bgcover();
  position: relative;

  .years {
    position: absolute;
    right: 51px;
    bottom: 215px-100px;
    transform: rotate(90deg);
    transform-origin: 100% 0%;

    .t1 {
      height: 70px;
      font-size: 70px;
      /*100px*/
      font-family: P22 Johnston Underground;
      font-weight: 400;
      color: rgba(24, 24, 24, 0.3);
      line-height: 70px;
    }

    .t2 {
      height: 70px;
      font-size: 70px;
      /*100px*/
      font-family: P22 Johnston Underground;
      font-weight: 400;
      color: rgba(24, 24, 24, 0.15);
      line-height: 70px;
    }

    .t3 {
      width: 21px;
      height: 21px;
      font-size: 30px;
      font-family: P22 Johnston Underground;
      font-weight: 400;
      color: rgba(24, 24, 24, 0.15);
      line-height: 42px;
      vertical-align: top;
    }

  }

  .right-wrapper {
    width: 500px;
    position: absolute;
    right: 316px;
    /* left: 61%; */
    top: 185px;

    .title-sm {
      .mb(23);
      height: 11px;
      font-size: 14px;
      font-family: Bjorn;
      font-weight: 400;
      color: rgba(24, 24, 24, .4);
      line-height: 11px;
    }

    .title-big {
      .pb(30);
      .mb(36);
      position: relative;
      font-size: 36px;
      font-family: HYQingYaTiJ;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);
      line-height: 42px;

      &::after {
        position: absolute;
        bottom: 1px;
        left: 0px;
        content: '';
        width: 27px;
        height: 1px;
        background: rgba(100, 100, 100, 0.25);
      }
    }

    .description {
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 400;
      color: rgba(24, 24, 24, 1);
      line-height: 26px;
      .mb(34);
      .txt();
    }

    .description2 {
      font-size: 12px;
      font-family: Montserrat;
      font-weight: 300;
      color: rgba(24, 24, 24, 0.6);
      line-height: 22px;
      .mb(58);
      .txt();
    }

    .arrow-right {
      .w(118);
      .h(11);
      /* pc未切图 */
      /* background-image: url('../img/h5/index/形状 6@2x.png'); */
      .bgcontain();
    }
  }
}

.page-index .section-23 {
  margin-bottom: -5px;
  position: relative;

  img {
    width: 100%;
    height: auto;
  }

  .icon-play {
    width: 80px;
    height: 80px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -80px/2;
    margin-top: -80x/2;
    cursor: pointer;
  }
}

.page-index .section-3 {
  height: 960px;
  width: 100%;
  background: rgba(232, 235, 236, 1);
  .flexrow();

  /* swiper start */
  .swiper-container {
    z-index: 99;
    width: 100%;
    height: 100%;

    &.cover-model {

      .pagination,
      .swiper-scrollbar {
        .hide();
      }

      .series-wrapper {
        &.series-2-bg {
          background: transparent;
        }

        .series {
          .image-wrapper {
            .image-container {}
          }

          .text-wrapper {
            .hide();
          }
        }
      }

      .swiper-slide {

        .hide();

        &.current-cover {
          .show();
        }
      }

      .swiper-custom-prev,
      .swiper-custom-next {
        .hide();
      }
    }

    .swiper-custom-prev,
    .swiper-custom-next {
      width: 54px;
      height: 54px;
      .bgcontain();
      position: absolute;
      right: 15px;
      top: calc(50% - 54px / 2);
      transform-origin: 50% 50%;
      background-image: url('../img/index/s3-arrow-right.png');
      z-index: 2;
    }

    .swiper-custom-prev {
      transform: rotateY(180deg);
    }

    .swiper-custom-next {
      transform: rotateY(0deg);
    }

    .fadeOut {
      pointer-events: none;
    }
  }

  /* swiper end */
  .series-wrapper {
    height: 100%;
    width: 100%;
    flex: 1;

    &.series-2-bg {
      background-image: url('../img/index/series2-bg.png');
      .bgcover();
    }

    .series {
      width: 428px;
      margin: auto;

      .image-wrapper {
        height: 627px;
        .flexcenter();

        .image-container {
          .hover-to-has-image-fullview();
          margin: auto;
          width: 419px;
          height: 400px;
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            .mt(50);
          }
        }
      }

      .text-wrapper {
        .series-text {
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: 300;
          color: rgba(0, 0, 0, 1);
          line-height: 14px;
        }

        .series-title {
          .mt(20);
          font-size: 28px;
          font-family: HYQingYaTiJ;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);
          line-height: 28px;
          .letterspacing(28px, -65);

          .title-pre {
            .letterspacing(32px, 300);
            .mr(10);
            font-size: 32px;
            font-family: Bjorn;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
            line-height: 32px;
          }
        }

        .series-desc {
          .mt(28);
          font-size: 12px;
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(62, 62, 62, 1);
          line-height: 20px;
        }

        .series-arrow {
          width: 100px;
          height: 30px;
          background-image: url('../img/index/形状 5 拷贝@2x.png');
          .bgcover();
          .mt(47);
        }
      }
    }
  }
}

.page-index .section-4 {
  overflow: hidden;
  height: 729px;
  background-image: url('../img/index/色彩平衡 1@2x.png');
  .bgcover();
  .flexrow();

  .left-wrapper {
    flex: 1;

    .text-container {

      width: 419px;
      .pt(210);
      .ml(271);

      .title-4 {
        .letterspacing(42, 300);
        /* height: 30px; */
        font-size: 42px;
        font-family: Bjorn;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 46px;
      }

      .title-42 {
        .mt(20);
        .letterspacing(40, -65);
        /* height: 39px; */
        font-size: 40px;
        font-family: HYQingYaTiJ;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 40px;
      }

      .description-4 {
        .mt(50);
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 26px;
      }

      .nav-wrapper {
        position: relative;
        cursor: pointer;
        .mt(94);
        width: 419px;
        /* height: 1px; */
        padding-top: 10px;
        padding-bottom: 10px;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          width: 100%;
          height: 1px;
          bottom: 10px;
          z-index: 1;
          background: rgba(246, 246, 246, .3);
        }

        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 10px;
          height: 1px;
          z-index: 2;
          background: rgba(246, 246, 246, 1);
          width: 50%;
          transition: all .6s ease;
        }
      }

      [current="1"].nav-wrapper {
        &::after {
          left: 0;
        }
      }

      [current='2'].nav-wrapper,
      .nav-wrapper.current-2 {
        &::after {
          left: 50%;
        }
      }
    }

  }

  .right-wrapper {
    position: relative;
    display: flex;
    align-items: center;

    .content-wrapper {
      overflow: hidden;
      /* transition: all .8s ease; */

      .target {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: 1;

        .original-image {}

        .icon-more.more-1 {
          .hide();
          transition: all .8s ease;
          transition-delay: 1s;

          img {}
        }

        .icon-more.more-2 {
          .hide();
          transition: all .8s ease;
          transition-delay: 1.4s;

          img {}
        }

        &.fadeIn {
          z-index: 2;

          .original-image {}

          .icon-more.more-1 {
            .show();

            img {}
          }

          .icon-more.more-2 {
            .show();

            img {}
          }
        }
      }

      img {
        max-width: none;
      }

      width: 894px;
      height: 451px;
      position: relative;

      /* img {
        width: 894px;
        height: 451px;
      } */
      .original-image {
        width: 100%;
        transition-delay: .2s;
      }

      .icon-more {
        position: absolute;

        &,
        img {
          width: 58px;
          height: 58px;
        }

        &.more-1 {
          left: 180px;
          top: 190px;
          transition-delay: .2s;
        }

        &.more-2 {
          left: 539px;
          top: 158px;
          transition-delay: .6s;
        }
      }

      /*  .original-image {
        display: none;
      }

      .icon-more {
        display: none;
      } */

      /* &.show {
        .original-image {
          .show();
        }

        .icon-more {
          .show();
        }
      } */
    }

  }
}

.page-index .section-5 {
  height: 938px;
  background-color: rgba(232, 235, 236, 1);

  .main-wrapper {
    .pt(65);
    .w(1380);
    .ma();
    position: relative;

    /* swiper start */
    .swiper-container {
      width: 100%;
      height: 100%;

      .swiper-slide {
        background: rgba(232, 235, 236, 1);
      }

      .swiper-custom-prev,
      .swiper-custom-next {
        outline: none;
        width: 54px;
        height: 54px;
        .bgcontain();
        position: absolute;
        right: 0px;
        top: 0;
        background-image: url('../img/index/s5-arrow-left.png');
        z-index: 2;
      }

      .swiper-custom-prev {
        right: unit(54px+15, px);
      }

      .swiper-custom-next {
        background-image: url('../img/index/s5-arrow-right.png');
      }

      .disable {
        pointer-events: none;
        opacity: .6;
      }
    }

    .title-wrapper {
      height: 54px;
      line-height: 54px;

      .t1 {
        height: 24px;
        font-size: 32px;
        font-family: Bjorn;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
      }

      .t2 {
        height: 26px;
        font-size: 28px;
        font-family: HYQingYaTiJ;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
      }
    }

    .main-bg {
      width: 100%;
      .h(540);
      .mt(39);
      overflow: hidden;
      .imagehover();

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .desc-wrapper {
      .mt(40);

      .l1 {
        .flexrow();
        align-items: center;
        .h(22);

        .desc {
          height: 22px;
          font-size: 20px;
          font-family: PingFang SC;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
          line-height: 22px;
          .mr(15);
        }

        .tag {
          .plr(11);
          .mr(7);
          height: 22px;
          border: 1px solid rgba(210, 210, 210, 1);

          color: rgba(210, 210, 210, 1);
          line-height: 22px;
          font-size: 12px;
          font-family: PingFang SC;
          font-weight: 500;
          color: rgba(130, 130, 130, 1)
        }
      }

      .l2 {
        .flexrow();
        .flexavg();
        .h(15);
        align-items: center;
        .mt(16);

        .desc2 {
          .fs(14);
          color: rgba(126, 126, 126, 1);
        }

        .position-wrapper {
          .flexrow();

          .position-icon {
            .w(10);
            .h(12);
          }

          .position-txt {
            .ml(5);
            height: 15px;
            font-size: 14px;
            font-family: PingFang SC;
            font-weight: 500;
            color: rgba(0, 0, 0, 1);
            line-height: 15px;
          }
        }
      }
    }
  }
}

@keyframes bounce {

  from,
  20%,
  53%,
  80%,
  to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translate3d(0, 0, 0);
  }

  40%,
  43% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -10px, 0);
  }

  70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -5px, 0);
  }

  90% {
    transform: translate3d(0, -2px, 0);
  }
}
