/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func-rem.css';

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
  .page-index .section-1 {
    .w(750);
    .h(720+130);

    .right-wrapper {
      padding-left: 0;
      .flexcolumn();

      .right-banner {
        .h(720);
        .text-wrapper {
          .progress-wrapper {
            .mlr(50);
          }

          .title-small {
            .h(20px);
            .fs(20px);
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            .lh(20px);
          }

          .title-big {
            .idea {
              .fs(54px);
              .lh(54px);
              .letterspacing(54px, 100);
              font-family: Gill Sans;
              font-weight: 600;
              color: rgba(255, 255, 255, 1);
            }

            .h(54px);
            .fs(54px);
            .lh(54px);
            .mt(16);
            .mb(30);
          }

          .bottom(59);
        }
      }

      .nav-wrapper {
        .pl(32);
        flex: 1;

        .kv-nav-button {
          .wh(68);
        }

        .nav-show {
          .mlr(50);

          .diagonal {
            .mlr(45);
          }
        }
      }
    }
  }

  .page-index .section-2 {
    height: auto;
    background: url('../img/h5/index/1px-h5-s2-bg.jpg');

    .bg1 {
      .w(750);
      .h(588.7);
      background-image: url('../img/h5/index/矢量智能对象@2x.png');
      .bgcover();
    }

    .right-wrapper {
      width: auto;
      .h5plr();
      .pt(47);
      /* .mt(588); */
      position: relative;
      right: 0;
      top: 0;

      .title-sm {
        .mb(31-(13-18)/2-(70-54)/2);
        .fs(18);
        .letterspacing(18, 40);
        .lh(13);
        /* font-family: Bjorn; */
        /* font-weight: 400; */
        /* color: rgba(24, 24, 24, .4); */
        /* line-height: 11px; */
      }

      .title-big {
        .pb(37-(70-54)/2);
        .mb(39-(40-22)/2);
        position: relative;
        .fs(54);
        .lh(70);
        .cnleft();

        &::after {
          left: 0.18em;
          .w(27px);
        }
      }

      .description {
        .fs(22);
        font-family: PingFangSC;
        font-weight: 400;
        .lh(40);
        .mb(52-(40-22)/2-(30-18)/2);
        .txt();
      }

      .description2 {
        .fs(18);
        .lh(30);
        .mb(58-(30-18)/2);
        .txt();
      }

      .arrow-right {
        .w(220);
        .h(40);
        .pb(108);
        background-image: url('../img/h5/index/形状 6@2x.png');
      }
    }

  }

  .page-index .section-3 {
    position: relative;
    height: auto;

    .swiper-container {
      .pagination {
        /* display: inline-block; */
        width: auto;
        position: absolute;
        z-index: 3;
        .top(34);
        .right(38);
        .h(18);

        font-family: Bjorn;
        font-weight: normal;
        color: rgba(164, 166, 168, 1);

        .fs(18);
        .lh(18);

        .t2 {
          color: rgba(164, 166, 168, 1);
        }
      }

      .swiper-scrollbar {
        transform: scaleX(1.02);
        bottom: 0px;
        background: white;
        height: 8px;

        .swiper-scrollbar-drag {
          height: 8px;
          border-radius: 0;
          background: rgba(161, 169, 171, 1);
        }
      }

      .swiper-pagination-fraction {
        left: auto;
        bottom: auto;

        .swiper-pagination-current {
          color: rgba(93, 94, 95, 1);
          display: inline-block;
          .mr(5);
          /* .w(33); */

          &::before {
            content: ' 0 ';
          }

          &::after {
            content: ' ';
          }
        }

        .swiper-pagination-total {
          &::before {
            content: ' 0 ';
          }
        }
      }

    }

    /* swiper end */
    .series-wrapper {
      height: 100%;
      width: 100%;

      &.series-2-bg {
        background-image: url('../img/index/series2-bg.png');
        .bgcover();
      }

      .series {
        .h5plr();
        width: auto;

        .image-wrapper {
          .h(391);

          width: 100%;
          .pt(119);
          .mb(53);
          object-fit: contain;

          .flexcenter();

          img {
            .mt(0);
            width: 100%;
            height: 100%;
          }
        }

        .text-wrapper {
          .series-text {
            .h(20);
            .fs(20);
            .lh(20);
          }

          /* 文本太大，调52
          .series-title {
            .mt(20);
            .h(54);
            .lh(54);
            .fs(54);
            .letterspacing(54, -65);

            .title-pre {
              .h(42);
              .fs(54);
              .letterspacing(54, 300);
              .lh(42);
              .mr(0);
            }
          } */
          .series-title {
            text-align: justify;
            .mt(23);
            .h(52);
            .lh(52);
            .fs(52);

            .title-pre {
              text-align: justify;
              .h(52);
              .fs(52);
              .letterspacing(52, 300);
              .letterspacingmr(52, 300);
              .lh(52);
              /* .mr(0); */
            }

            .title-cn {
              .letterspacing(52, -65);
              .cnleft();
              .pl(20);
            }
          }

          .series-desc {
            .mt(46-(40-22)/2);
            .fs(22);
            .lh(40);
          }

          .series-arrow {
            .w(220);
            .h(40);
            background-image: url('../img/h5/index/形状 6 拷贝@2x.png');
            .bgcontain();
            .mt(67-(40-22)/2);
          }

          .pb(154);
        }
      }
    }

  }

  .page-index .section-4 {
    height: auto;
    background-image: url('../img/h5/index/色彩平衡 1 拷贝@2x.png');
    .bgcover();
    display: block;

    .left-wrapper {
      flex: none;

      .text-container {

        width: auto;
        .h5mlr();
        .pt(172);
        .pb(143);

        .title-4 {
          .fs(54);
          .letterspacing(54, 300);
          .lh(38);
          .w(340);
        }

        .title-42 {
          .mt(30-(38-54)/2);
          .fs(54);
          .letterspacingcn(54, -65);
          .lh(54);
          .w(525);
        }

        .description-4 {
          .mt(42-(40-22)/2);
          .fs(22);
          .lh(40);
        }

        .line-h5 {
          .mt(38);
          .w(38);
          height: 1px;
          background-color: rgba(100, 100, 100, 0.50);
        }

        .nav-wrapper {}
      }

    }

    .right-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      .pb(152);

      .content-wrapper {

        .w(748);
        .h(479);
        position: relative;

        img {
          .w(748);
          .h(479);
        }

      }

    }
  }

  .page-index .section-5 {
    height: auto;

    .main-wrapper {
      .pt(83-(64.3-48)/2);
      .w(750);
      .ma();
      position: relative;

      /* swiper start */
      .swiper-container {
        width: 100%;
        height: 100%;

        .swiper-slide {
          background: rgba(232, 235, 236, 1);
        }

        .swiper-custom-prev,
        .swiper-custom-next {
          outline: none;
          .wh(84);
          .bgcontain();
          position: absolute;
          right: auto;
          top: auto;
          .left(92);
          .bottom(140);
          background-image: url('../img/h5/index/组 11 拷贝 2@2x.png');
        }

        .swiper-custom-prev {}

        .swiper-custom-next {
          background-image: url('../img/h5/index/组 11 拷贝@2x.png');
          .left(92+84+25);
        }

        /* 自作主张 */
        .disable {
          /* pointer-events: none; */
          opacity: .6;
        }

        .pagination {
          /* display: inline-block; */
          width: auto;
          position: absolute;
          z-index: 3;
          .right(49);
          .bottom(48);
          .h(13);

          font-family: Bjorn;
          font-weight: normal;
          color: rgba(164, 166, 168, 1);

          .fs(18);
          .lh(13);

          .t2 {
            color: rgba(164, 166, 168, 1);
          }
        }

        .swiper-pagination-fraction {
          left: auto;
          top: auto;

          .swiper-pagination-current {
            color: rgba(93, 94, 95, 1);
            display: inline-block;
            .mr(5);
            /* .w(33); */

            &::before {
              content: ' 0 ';
            }

            &::after {
              content: ' ';
            }
          }

          .swiper-pagination-total {
            &::before {
              content: ' 0 ';
            }
          }
        }
      }

      .title-wrapper {
        .lh(46);
        .ha();
        .h5ml();

        .t1 {
          display: block;
          .fs(48);
          .letterspacing(48, 300);
          .ha();
          .lh(64.3);
        }

        .t2 {
          display: block;
          .mt(23-(64.3-48)/2);
          .ha();
          .fs(48);
          .lh(48);
          .letterspacingcn(48, -65);
        }
      }

      .main-bg {
        width: 100%;
        .h(600);
        .mt(92);
      }

      .desc-wrapper {
        .mt(84-(46-34)/2);

        .l1 {
          display: block;
          align-items: center;
          height: auto;

          .desc {
            font-family: PingFangSC;
            font-weight: normal;
            .fs(34);
            .lh(46);
            .ha();
            .h5mlr();
          }

          .tag-wrapper {
            .h5mlr();
            .mt(28-(46-34)/2);
            .flexrow();

            .tag {
              font-family: PingFangSC-Medium;
              .plr(11);
              .mr(7);
              .h(36);
              .fs(20);
              .lh(36);
              font-weight: 500;
            }
          }

        }

        .l2 {
          display: block;
          .ha();
          .mt(42-(40-22)/2);
          .h5mlr();

          .desc2 {
            .fs(22);
            .lh(40);
            .pb(58-(40-22)/2);
          }

        }

        .line-h5 {
          .h5mlr();
          height: 1px;
          background: rgba(0, 0, 0, .1);
          .mb(280);
        }
      }
    }
  }

}

@media (max-width: 575px) {}

@media (max-width: 351px) {}





@media (min-width: 352px) {}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
