<section pc-flex-important class="section section-footer">
  <div class="left">
    <img src="../img/index/矢量智能对象@2x(2).png" alt="" class="logo">
    <img src="../img/index/箭头 (1)的副本@2x.png" alt="" class="go-top animated infinite bounce">
  </div>
  <div class="mid">
    <div class="top">
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.2s">品牌</li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s">品牌</li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s">产品</li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s">案例</li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.4s">了解我们</li>
        <li class="link wow fadeInUp" data-wow-delay="0.6s">头条</li>
        <li class="link wow fadeInUp" data-wow-delay="0.6s">服务与活动</li>
        <li class="link wow fadeInUp" data-wow-delay="0.6s">商业合作</li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.6s">联系我们</li>
        <li class="link wow fadeInUp" data-wow-delay="0.8s">artpeak@artpeak.com.cn</li>
        <li class="link wow fadeInUp" data-wow-delay="0.8s">sales_cn@artpeak.com.cn</li>
        <li class="link wow fadeInUp" data-wow-delay="0.8s">0769-877203762</li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.8s">公司总部</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">中国广东省东莞市塘厦镇</li>
        <li class="link wow fadeInUp" data-wow-delay="1s">田心科苑城工业区蛟坪大道6号PC 523718</li>
      </ul>
    </div>
    <div class="bottom">
      <div class="partner-wrapper">
        <img class="partner" src="../img/index/1496257729044228220@2x.png"></div>
      <img class="weixin" src="../img/index/微信 (3)@2x.png"><img class="weibo" src="../img/index/微博 (1)@2x.png">
    </div>
  </div>
  <div class="right">
    <div class="top">
      <div class="content-wrapper">
        <img class="position" src="../img/index/地图坐标 (1) 拷贝@2x.png"></img>
        <div class="txt">探寻实体店</div>
      </div>
    </div>
    <div class="bottom">
      <div class="copyright">
        ©Copynight 2017 Nicefeel Pte Ltd.all Rights<br>Reserved粤ICP备17073915号
      </div>
    </div>
  </div>
</section>
<section h5-important class="section section-footer">
  <div class="h5-top">
    <div class="h5-top-left">
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.2s">联系我们</li>
        <li class="link wow fadeInUp" data-wow-delay="0.4s">artpeak@artpeak.com.cn</li>
        <li class="link wow fadeInUp" data-wow-delay="0.5s">sales_cn@artpeak.com.cn</li>
        <li class="link wow fadeInUp" data-wow-delay="0.6s">0769-877203762</li>
      </ul>
      <ul>
        <li class="title wow fadeInUp" data-wow-delay="0.8s">公司总部</li>
        <li class="link link2 wow fadeInUp" data-wow-delay="0.9s">中国广东省东莞市塘厦镇田心</li>
        <li class="link link2 wow fadeInUp" data-wow-delay="1s">科苑城工业区蛟坪大道6号PC</li>
        <li class="link link2 wow fadeInUp" data-wow-delay="1.2s">523718</li>
      </ul>
      <div class="copyright">©ICP备17073915号</div>
    </div>
    <div class="h5-top-right">
      <img class="weixin" src="../img/h5/index/微信 (3)@2x.png" />
      <img class="weibo" src="../img/h5/index/微博 (1)@2x.png" />
    </div>
  </div>
  <div class="h5-bottom">
    <img class="partner" src="../img/h5/index/组 10@2x(1).png" />
  </div>
</section>
<script type="text/javascript" src="../js/jquery.min.js"></script>
<script type="text/javascript" src="../js/plugins.js"></script>
<script type="text/javascript" src="../js/underscore.js"></script>
<script type="text/javascript" src="../js/local-plugins.js"></script>
<script type="text/javascript" src="../js/script.js"></script>
