<div class="hidden">当前激活的菜单：<%-active%></div>
<header pc-flex class="header-area">
  <div class="nav-brand-left<%-active=='store'?' active':''%> nav-padding-bottom">
    <div class="brand-left">
      <img src="../img/index/logo@2x.png">
    </div>
    <div class="brand-right">
      <div class="title-t">Stores</div>
      <div class="title-b">
        探寻实体店
        <img class="position-icon" src="../img/index/地图坐标 (1)@2x.png"></div>
    </div>
  </div>
  <nav class="nav-menu-container">
    <ul>
      <li class="menu-item<%-active=='index'?' active':''%> nav-padding-bottom">
        <!-- 
        <a href="./index.html" class="nav-block">
          <div class="t-link">Home</div>
          <div class="b-link">首页</div>
        </a>  -->
        <div class="nav-block">
          <div class="t-link"><a href="./index.html">Home</a></div>
          <div class="b-link"><a href="./index.html">首页</a></div>
        </div>
      </li>
      <li class="menu-item<%-active=='brand'?' active':''%> nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="./brand.html">Brand</a></div>
          <div class="b-link"><a href="./brand.html">品牌</a></div>
        </div>
      </li>
      <li class="menu-item<%-active=='product'?' active':''%> nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="./product-list.html">Product</a></div>
          <div class="b-link"><a href="./product-list.html">产品</a></div>
        </div>
      </li>
      <li class="menu-item<%-active=='case'?' active':''%> nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="./case.html">Case</a></div>
          <div class="b-link"><a href="./case.html">案例</a></div>
        </div>
      </li>
      <li class="menu-item<%-active=='news'?' active':''%> nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="./news.html">News</a></div>
          <div class="b-link"><a href="./news.html">头条</a></div>
        </div>
      </li>
      <li class="menu-item<%-active=='services'?' active':''%> nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="./services.html">Services</a></div>
          <div class="b-link"><a href="./services.html">服务与活动</a></div>
        </div>
      </li>
      <li class="menu-item<%-active=='cooperation'?' active':''%> nav-padding-bottom">
        <div class="nav-block">
          <div class="t-link"><a href="./cooperation.html">Cooperation</a></div>
          <div class="b-link"><a href="./cooperation.html">商业合作</a></div>
        </div>
      </li>
    </ul>
  </nav>
  <div class="nav-brand-right">
    <img src="../img/index/logor@2x.png" alt="自然主义">
  </div>
</header>
<header h5-flex class="header-area">
  <div class="menu-icon">
    <img src="../img/h5/index/组 10@2x.png" alt="自然主义">
  </div>
  <img class="nav-brand-right-img" src="../img/h5/index/矢量智能对象@2x(1).png" alt="自然主义">
</header>
