@keyframes scale-up {
  from {
    transform: scaleY(1) scaleX(1);
    opacity: 0.5;
  }

  to {
    transform: scaleX(1.3) scaleY(2);
    opacity: 0;
  }
}

@media(max-width: 767px) {
  .close_dialog_layer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10001;
    display: none;
  }

  .button {

   /*  *,
    &::before,
    &::after {
      transition: none !important;
    } */

    /* 
    position: fixed;
    bottom: 0; */
    display: flex;

    align-items: center;
    justify-content: center;

    /* padding: 16px 36px; */
    color: #ffffff;
    background-color: #000000;

    &.black-e {
      color: #ffffff;
      background-color: #000000;

      &:hover {
        color: #000000;
        /* background-color: #000000; */
      }


    }

    &.gray-e {
      background: #667078;
      color: rgba(255, 255, 255, 1);
      width: 294px;

      &:hover {
        /* background: #667078; */
        color: #000000;
      }
    }

    cursor: pointer;
    user-select: none;

    &__text {
      position: relative;

      margin-right: 12px;

      transition: ease-in-out .18s;

      z-index: 2;
    }

    &__icon {
      position: relative;

      transition: ease-in-out .18s;

      z-index: 2;
    }

    &:before {
      content: '';
      position: absolute;

      width: 100%;
      height: 100%;

      background-color: #ffffff;
      opacity: 0.5;
      /* border-radius: 40px; */

      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;

      width: 100%;
      height: 100%;

      background-color: #ffffff;
      z-index: 1;
      transition: ease-in-out .18s;
      transform-origin: center left;
      transform: scaleX(0);
      /* border-radius: 40px; */
    }

    &:hover {
      color: #000000;

      &:after {
        transform-origin: center right;
        transform: scaleX(1);
        color: #ffffff;
      }

      .button__icon {
        transform: translate3d(400%, 0px, 0px);
        opacity: 0;
      }

      .button__text {
        transform: translate3d(12px, 0px, 0px);
      }
    }

    &:active:hover {
      opacity: 0.8;
      transition: opacity ease-in-out .3s;
    }

    &.active {
      &:before {
        animation: scale-up .3s ease;
      }
    }
  }


  .page.page-cooperation {
    /*background: #E9E8EB;*/
    background: #e9e9e9;
    /* TODO replace 3px */

    .banner-bg.banner-bg-496 {
      .h(450);
      width: 100%;
      min-height: auto;
      position: relative;
      .bgcover();

      .grid-wrapper {
        .fix-bottom(59);
      }

      .content-width.grid-2 {
        grid-gap: 0 .t(50)[@rem];

        .item {
          cursor: pointer;
          opacity: .5;

          .title-wrapper {
            transition: all .5s ease-in-out;
            .pb(35);
            color: white;
            /* color: rgba(0, 0, 0, .5); */
            border-bottom: 2px solid rgba(255, 255, 255, 1);

            .en {
              .fs(18);
              font-family: Bjorn;
              font-weight: 400;
              line-height: 1em;
            }

            .cn {
              .fs(32);
              .mt(13);
              font-family: PingFang SC;
              font-weight: 400;
              line-height: 1em;
              .letterspacingcn(24, 0);
            }
          }

          &.active,
          &:hover {
            opacity: 1;

            .title-wrapper {
              /* color: rgba(125, 125, 125, 1); */
              /* border-bottom: 2px solid rgba(199, 199, 199, 1); */
            }
          }

          &.dealers {}

          &.jobs {
            .title-wrapper {
              .en {}

              .cn {}
            }
          }
        }
      }
    }

    .page-body {
      position: relative;
      .pt(95);
      .pb(170);

      &.page-body-2 {
        .pb(850);
      }

      .first-header-wrapper {
        .pb(70);
        /* .flex-start(); */
        /* justify-content: space-between; */

        .title-wrapper {
          .title-56 {}

          .title-14 {}
        }

      /*   a,
        a:hover,
        a:focus,
        a:active {
          transition: none;
          text-decoration: none;
          -webkit-transition-duration: 0;
          -o-transition-duration: 0;
          transition-duration: 0;
        } */

        .button.apply {
          position: fixed;
          bottom: 0;
          left: 0;
          z-index: 113;
          width: 100%;

          img.icon {
            display: none;
            width: 14px;
            height: 14px;
          }
        }

        border-bottom: 5px solid rgba(218, 222, 218, 1);

        &.no-bb {
          border-bottom: none;
        }
      }

      .title-56 {
        .fs(60);
        .letterspacing(60, -65);
        .lh(72);
      }

      .title-38 {
        transition: all 0.5s ease-in-out;
        .fs(42);
        font-family: PingFang SC;
        font-weight: 300;
        color: rgba(0, 0, 0, 1);
        line-height: 1.2;
      }

      .title-14 {
        .fs(22);
        .lh(40);
      }

      .content-width.list-wrapper {

        .list-item {
          cursor: pointer;

          &:hover {
            .title-38 {
              font-weight: 600;
            }
          }

          .flex-start();
          justify-content: space-between;
          .ptb(50-8);
          border-bottom: 5px solid rgba(218, 222, 218, 1);

          border-bottom: 5px solid rgba(218, 222, 218, 1);


          .title-wrapper {
            .title-56 {}

            .title-14 {
              .mt(14-6);
            }
          }

          .time {
            .fs(20);
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(119, 119, 119, 1);
          }
        }
      }

      .content-width {

        .left {
          .for-h5-line-1 {
            .flex();
          }

          width: 100%;

          .l1 {
            width: 100%;
            .mb(65);
            margin-top: 0;
          }

          .l2 {
            width: 26px;
            .mtb(30);
            .mlr(40);
            transform: rotate(90deg);
          }

          .l3 {
            width: 26px;
            margin-bottom: 45px;
            margin-top: 40px;
            display: none;
          }

          .txt-group {
            &.txt-group-area {
              .mt(58);
            }

            .tsm {

              .fs(20);
              font-family: PingFang SC;
              font-weight: 400;
              color: rgba(117, 117, 117, 1);
              .lh(30.18);
            }

            .tn {
              .fs(66);
              font-family: PingFang SC;
              font-weight: 600;
              color: rgba(102, 149, 168, 1);
              line-height: 70/60;

              .tr {
                font-size: 30px;
                font-family: PingFang SC;
                font-weight: 600;
                color: rgba(102, 149, 168, 1);
                line-height: 1.2;
              }
            }
          }
        }

        .map {
          margin-top: -160px;
          .w(750);
          .h(825);
          position: absolute;
          left: 0;
          top: 12.4rem;
          z-index: 0;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

      }
    }
  }

  .page.page-cooperation.page-cooperation1 {
    .page-body {

      .first-header-wrapper {
        .flex-start();
        justify-content: space-between;

        .title-wrapper {
          .title-56 {}

          .title-14 {}
        }

        .button.apply {
          img.icon {}
        }
      }
    }
  }

  .page.page-cooperation.page-cooperation2 {
    .page-body {

      .first-header-wrapper {

        .title-wrapper {
          .title-56 {}

          .title-14 {}
        }

        .button.apply {
          margin-top: 35px;

          img.icon {}
        }
      }
    }
  }



  .dialog.dialog-job-info {
    .dialog-body {
      position: relative;
      .w(590-76);
      height: auto;
      background: rgba(246, 246, 243, 1);
      .pt(76);
      .pb(76+296);
      .plr(61);

      .top-box {
        min-height: auto;
        .bb();

        .lr-c {
          .flexavg();

          .info {
            .title {
              .fs(40);
              font-family: PingFang SC;
              font-weight: 500;
              color: rgba(0, 0, 0, 1);
              line-height: 1.2;
            }

            .info-line {
              .mt(18);
              flex-direction: column;
              align-items: flex-start;
              .pb(40);

              .info-item {
                word-break: break-all;
                .mr(20);
                .flexstart();
                .fs(20);
                .lh(30);
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(0, 0, 0, 1);

                img.icon {
                  .mt(-3);
                  width: 24px;
                  height: 24px;
                }
              }
            }
          }

          .qr {
            .w(300);
            position: absolute;
            text-align: center;
            .bottom(70);
            left: 50%;
            .ml(-300/2);
            .flexcolumn();

            img.qrcode {
              .wh(170);
              margin: auto;
            }

            .qrtxt {
              text-align: center;
              .mt(15-(25-16)/2);
              .fs(16);
              font-family: PingFang SC;
              font-weight: 400;
              color: rgba(0, 0, 0, 1);
              .lh(25);
            }
          }
        }
      }

      .bottom-box {
        .pt(50);

        .info-txt {
          .flex();

          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(0, 0, 0, 1);

          p {
            .fs(20);
            .lh(30);
          }
        }
      }

      .icon {
        width: 24px;
        height: 24px;
      }
    }

    .dialog-close-wrapper {
      img.icon {}
    }
  }


  .dialog.dialog-manager-info {
    .dialog-body {
      .w(480);
      /* height: 550px; */
      background: rgba(246, 246, 243, 1);
      .ptb(50);
      .plr(68);

      .top-box {
        .lr-c {
          .info {
            .title {
              .fs(24);
              font-family: Bjorn;
              font-weight: 400;
              color: rgba(0, 0, 0, 1);
              line-height: 26/16;
            }

            .info-line {
              .info-item {
                .fs(24);
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(23, 23, 23, 1);
                line-height: 26/16;
              }
            }
          }

          .qr {
            .w(48);
            .h(64);

            img.icon.logo-icon {}
          }
        }
      }

      .bottom-box {
        margin-top: 150px;

        .info-group {
          padding-top: 43px;

          .title {
            font-size: 16px;
            font-family: Bjorn;
            font-weight: 400;
            color: rgba(0, 0, 0, 1);
            line-height: 26/16;
          }

          .value {
            .mt(3);
            font-size: 16px;
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(23, 23, 23, 1);
            line-height: 26/16;
          }
        }

        .info-group {
          .title {}

          .value {}
        }

        .info-group {
          .title {}

          .value {
            br {}
          }
        }
      }
    }

    .dialog-close-wrapper {
      img.icon.js-close-dialog {}
    }
  }

}
