/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func.css';

.page.page-news {
  .pb(20);
  .banner-container {
    width: 100%;
    height: unit(600*100/1920, vw);
    min-height: 200px;
    .bgcover();
    .flexcenter();

    background-image: url('../img/news/banner.png');

    .title-wrapper {
      text-align: center;

      .title.cn {
        font-size: 68px;
        font-family: HYQingYaTiJ;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 80/68;
        .letterspacingcn(-180, 68);
      }

      .title-sm.en {
        .mt(25-(26-12)/2-(80-68)/2);
        font-size: 12px;
        font-family: Bjorn;
        font-weight: 400;
        color: rgba(255, 255, 255, 1);
        line-height: 26px;
      }
    }
  }

  .grid-body {
    display: grid;
    .grid(3);
    grid-gap: 85px 26px;
    padding: 52px 18px;

    .grid-item {
      .image-container {
        img {}
      }

      .time {
        margin-top: 30px;
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(100, 100, 100, 1);
        line-height: 1em;
      }

      .title-24 {
        font-size: 24px;
        font-family: PingFang SC;
        font-weight: 500;
        color: rgba(0, 0, 0, 1);
        line-height: 36px;
        a {
          color: black;
        }
      }

      .title-12 {
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 400;
        color: rgba(100, 100, 100, 1);
        line-height: 32px;
      }
    }
  }

  .more-wrapper {
    cursor: pointer;
    border-top: 1px solid rgba(0, 0, 0, .1);
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    padding: 35px;
    line-height: 1em;
    margin: 18px;
    text-align: center;
  }
}
