/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func-rem.css';

@media (max-width: 767px) {
  .page.page-product-list {
    .series-list {
      width: 100%;
      /* .flex(); */
      display: block;

      .series-item {
        /* flex: 1; */
        height: 871px;
        width: 100%;
        .h(450);
        position: relative;
        /* transition: all .8s ease; */
        transition: none;

        .bgcover();
        background-position: bottom center;

        .title-wrapper {
          position: absolute;
          .left(47);
          .bottom(68);
          z-index: 2;
          /* margin-left: unit(59*100/480, %); */
          /* margin-left: 59px; */

          .title-en {
            /* font-size: 16px; */
            /* font-family: Gill Sans;
            font-weight: 600;
            color: rgba(255, 255, 255, 1); */
            /* line-height: (16+6*2)/16; */
            .h(14);
            .lh(14);
            .fs(20);

          }

          .title-cn {
            .mt(22);
            /* font-size: 40px;
            font-family: HYQingYaTiJ;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 60/40;
            .letterspacingcn(40, -180); */
            /* .lh(49); */
            .fs(54);
            .letterspacing(54, -65);
          }
        }

        &.s1 {
          background-image: url('../img/product-list/A.jpg');
        }

        &.s2 {
          background-image: url('../img/product-list/B.jpg');
        }

        &.s3 {
          background-image: url('../img/product-list/C.jpg');
        }

        &.s4 {
          background-image: url('../img/product-list/D.jpg');
        }


        &::before {
          content: '';
          background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .6));
          pointer-events: none;
          z-index: 1;
          position: absolute;
          left: 0;
          height: 200px;
          bottom: 0;
          right: 0;
        }

        &::after {
          content: "";
          background: rgba(0, 0, 0, 1);
          opacity: 0;
          transition: opacity .8s ease;
          pointer-events: none;
          z-index: 2;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          right: 0;
        }
      }


      &:hover {
        .series-item {
          &::after {
            opacity: .6;
          }

          &:hover {
            &::after {
              opacity: 0;
            }
          }
        }
      }

      .series-item {
        cursor: pointer;

        &:hover {
          flex: 4;

          &::after {
            content: "";
            opacity: 0;
            /* display: none; */
          }

          .title-wrapper {
            .title-en {}

            .title-cn {
              &::after {
                content: '>';
                font-stretch: ultra-expanded;
                /* font-stretch: ultra-condensed; */
                /* font-size: 3px/20px; */
              }
            }
          }

          /*  &.s1 {
          background-image: url('../img/product-list/s1.png');
        }

        &.s2 {
          background-image: url('../img/product-list/s2.png');
        }

        &.s3 {
          background-image: url('../img/product-list/s3.png');
        }

        &.s4 {
          background-image: url('../img/product-list/s4.png');
        } */
        }

      }

    }
  }
}
