/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func-rem.css';

@media (max-width: 767px) {

  .page.page-product-detail {
    .banner-width-title {
      width: 100%;
      .h(690);
      .bgcover();
      background-image: url('../img/product-detail/banner.png');
      position: relative;

      .fixed1 {
        .fix-bottom(60);
      }

      .title-wrapper {
        .title-1 {
          /* font-size: 14px; */
          font-family: PingFang SC;
          font-weight: 400;
          color: rgba(255, 255, 255, 1);
          line-height: 1em;
          .fs(20);
        }

        .title-2.title-4240.white {
          .mt(16);

          .en {}

          .cn {}
        }

        .line.line-245 {
          .mt(30);
        }
      }
    }

    .bg-dot-white {
      background: url("../img/brand/bg.jpg");
      .pt(95);

      .content-width {
        .title-44 {}

        .ppp {
          &.pfirst {
            .mt(0);
          }
        }
      }

      img.section-image {
        .w(650);
        .h(423);
        object-fit: cover;
        margin-left: auto;
        margin-right: auto;
        .mtb(65);
      }
    }

    .elaborate-section {
      width: 100%;
      .pb(189);
      /* min-height: 965px; */
      background: rgba(255, 255, 255, 1);
      .pt(158);

      .title-wrapper {
        .flexstart();

        .title-44 {
          margin-right: 20px;
        }

        .pagination {
          display: none;
          font-size: 16px;
          font-family: PingFang SC;
          font-weight: 500;

          color: rgba(143, 143, 143, 1);

          .no {
            color: rgba(0, 0, 0, 1);
          }

          .gap {}

          .total {}
        }
      }

      .ppp {
        .mt(78-(42-24)/2-4.2);
      }

      .elaborate-swiper-container.swiper-container {
        .mt(125);
        text-align: center;

        .swiper-button-next:after,
        .swiper-button-prev:after {
          color: rgba(165, 169, 170, 1);
        }

        .slide-image {
          display: flex;
          align-items: center;
          justify-content: center;
          object-fit: contain;
          .ma();
          /* height: 400px; */
          .h(316);
          .w(558);
        }
      }

      .swiper-button-prev:after,
      .swiper-button-next:after {
        .fs(32);
      }

      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        right: 0;
      }

      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        left: 0;
      }
    }
  }

}


.swiper-button-next,
.swiper-button-prev {
  outline: none;
}
