@media(max-width: 767px) {

  .page.page-services {
    background: #E9E8EB;
    /* TODO replace 3px */

    .banner-bg.banner-bg-496 {
      .h(450);
      width: 100%;
      min-height: auto;
      .bgcover();
      position: relative;

      .grid-wrapper {
        .fix-bottom(56);
      }

      .content-width.grid-2 {
        grid-gap: 50px;

        border-bottom: 2px solid rgba(246, 246, 246, 1);

        .item {
          cursor: pointer;
          opacity: .5;

          .title-wrapper {
            transition: all .5s ease-in-out;
            .pb(35);
            color: rgba(255, 255, 255, 1);
            /* color: rgba(0, 0, 0, .5); */
            /* border-bottom: 2px solid rgba(0, 0, 0, .3); */
            border-bottom: none;

            .en {
              .fs(18);
              font-family: Bjorn;
              font-weight: 400;
              line-height: 1em;
            }

            .cn {
              .mt(18);
              .fs(32);
              font-family: PingFang SC;
              font-weight: 400;
              line-height: 1em;
              .letterspacingcn(24, 0);
            }
          }

          &.active,
          &:hover {
            opacity: 1;

            .title-wrapper {
              /* color: rgba(125, 125, 125, 1); */
              /* border-bottom: 2px solid rgba(199, 199, 199, 1); */
            }
          }

          &.dealers {}

          &.jobs {
            .title-wrapper {
              .en {}

              .cn {}
            }
          }
        }
      }
    }

    .page-body {
      .pt(95);
      .pb(99);

      .content-width {
        .flex-start();
        justify-content: space-between;

        .list-wrapper {
          width: 1050px;

          .list-item {
            cursor: default;

            .title-38 {
              .fs(32);
              .lh(50);
              font-weight: 600;
            }

            &:hover {
              .title-38 {
                /* font-family: PingFangSC; */
                /* font-weight: 600; */
              }
            }

            .flex-start();
            justify-content: space-between;
            .ptb(65);
            .plr(0);
            border-bottom: 1px solid rgba(196, 196, 196, 1);

            &:first-child {
              padding-top: 0;
            }

            .title-wrapper {
              .title-22 {
                font-size: 22px;
                font-family: PingFang SC;
                font-weight: 600;
                color: rgba(0, 0, 0, 1);
                line-height: 26/22;
              }

              .title-16 {
                .fs(24);
                .lh(42);
                .mt(35-(50-32)/2-(42-24)/2);
                font-family: PingFang SC;
                font-weight: 400;
                color: rgba(100, 100, 100, 1);
              }
            }

          }
        }

        .r-menu-wrapper {
          .r-menu-item {
            margin-bottom: 36px-2px;
            font-size: 24px;
            font-family: PingFang SC;
            font-weight: 400;
            color: rgba(99, 99, 99, .4);
            line-height: 26/24;

            &.active {
              font-weight: 500;
              color: rgba(32, 32, 32, 1);
            }

          }

        }
      }

    }
  }

}
