/* ##### Import All CSS ##### */
@import (less) 'variable.css';
@import (less) 'func-common.css';
@import (less) 'func.css';

.page-store-list2 {

  /* banner */
  .banner-image {
    width: 100%;
    .h(389);
    .bgcover();
    .flexcenter();

    .banner-title {
      font-family: HYQingYaTiJ;
      font-weight: normal;
      color: rgba(255, 255, 255, 1);
      .fs(40);
    }
  }

  .tab-bar-area {
    width: 100%;
    overflow-x: auto;
    background-color: rgba(255, 255, 255, 1);

    .tab-bar {
      .ma();
      .w(938);
      .flexrow();
      .flexaround();
      align-items: center;

      .tab-item {
        .h(83);
        .lh(83);
        cursor: pointer;
        /* .ptb(25); */
        .w(68);
        border-bottom: 2px solid rgba(35, 35, 35, 0);

        &.active {
          border-bottom: 2px solid rgba(35, 35, 35, 1);
        }

        text-align: center;
        display: inline-block;
        position: relative;
        font-family: PingFang;
        font-weight: bold;
        color: rgba(0, 0, 0, 1);
        .fs(14);

        .red-num {
          display: inline-block;
          .ml(5);
          .top(0);
          .fs(12);
          .lh(80);
        }
      }
    }
  }

  .detail-body-bg {
    text-align: center;
    background: rgba(245, 245, 245, 1);
    .pt(71);
    .pb(119);
  }

  .detail-body {
    .w(1380);
    display: grid;
    .ma();
    grid-column-gap: 36px;
    grid-row-gap: 51px;
    grid-template-columns: repeat(auto-fill, 672px);

    .item-box {
      .w(672px);

      img.main {
        .w(672);
        .h(352);
      }

      .info-box {
        text-align: left;
        .mt(20-3);

        .icon {
          .w(10);
          .h(12);
          .mr(6);
        }

        .title {
          .fs(22);
          .letterspacing(22, 20);
          font-family: PingFang;
          font-weight: 500;
          color: rgba(0, 0, 0, 1);
        }

        .location {
          .flexrow();
          align-items: center;
          .mt(10-3);
          font-family: PingFang;
          font-weight: 500;
          color: rgba(140, 140, 140, 1);
          .fs(12);
        }
      }
    }
  }
}
