.icon-mr {
  display: inline-block;
  background-size: contain;
  margin-right: 10px;
}

.icon-18 {
  display: inline-block;
  background-size: contain;
  width: 18px;
  height: 18px;
}

.icon-17 {
  display: inline-block;
  background-size: contain;
  width: 17px;
  height: 17px;
}

.icon-24 {
  display: inline-block;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.icon-32 {
  display: inline-block;
  background-size: contain;
  width: 32px;
  height: 32px;
}

.icon-close {
  background-image: URL('../images/icon-menu-close.svg');
  width: 16px;
  height: 16px;
}

.icon-close-filter-tag {
  background-image: URL('../images/close.png');
  width: 10px;
  height: 10px;
}

.dropdown-right-icon {
  background-image: URL('../images/icon-dropdown-left.svg');
  width: 8px;
  height: 8px;
  margin-left: auto;
  margin-bottom: 2px;
}

.icon-menu-close {
  background-image: URL('../images/icon-menu-close.svg');
  width: 24px;
  height: 24px;
  margin-left: auto;
}

.icon-menu-close-adj {
  background-image: URL('../images/cross-icon-adj.svg');
  width: 32px;
  height: 32px;
  margin-left: auto;
}

.grid-view-icon {
  background-image: URL('../images/icon-grid-view.svg');
  width: 24px;
  height: 24px;
}

.list-view-icon {
  background-image: URL('../images/icon-list-view.svg');
  width: 24px;
  height: 24px;
}

.sort-icon {
  background-image: URL('../images/icon-sort.svg');
  width: 32px;
  height: 32px;
}

.filter-icon {
  background-image: URL('../images/icon-filter.svg');
  width: 32px;
  height: 32px;
}

.whishlist-icon {
  background-image: URL('../images/wishlist.svg');
  width: 24px;
  height: 24px;
}

.share-icon {
  background-image: URL('../images/icon-share.svg');
  width: 24px;
  height: 24px;
}

.icon-menu {
  background-image: URL('../images/icon-menu.svg');
  width: 24px;
  height: 24px;
}

.icon-search-red {
  background-image: URL('../images/home/icon-search-red.png');
  width: 24px;
  height: 24px;
}

.icon-menu-back {
  background-image: URL('../images/icon-menu-back.svg');
  width: 24px;
  height: 24px;
}

.shipping-icon {
  background-image: url('../images/shipping.svg');
  width: 32px;
  height: 32px;
}

.payment-icon {
  background-image: url('../images/payment.svg');
  width: 32px;
  height: 32px;
}

.cart-icon {
  background-image: url("../images/icon-cart.svg");
  width: 24px;
  height: 24px;
}

.wishlist-icon {
  background-image: url('../images/wishlist.svg');
  width: 32px;
  height: 32px;
}

.icon-arrow-up {
  background-image: url('../images/arrow-up.svg');
  width: 16px;
  height: 16px;
}

// .icon-arrow-down {
//     background-image: url('../images/arrow-down.svg');
//     width: 16px;
//     height: 16px;
// }

.expand-icon {
  background-image: url("../images/Expand-Light.svg");
  width: 18px;
  height: 18px;
}

.expand-on-icon {
  background-image: url("../images/Expand-Light-On.svg");
  width: 18px;
  height: 18px;
}

.icon-menu-close-adj {
  background-image: url("../images/cross-icon-adj.svg");
  width: 32px;
  height: 32px;
}

.icon-facebook {
  background-image: url("../images/facebook.svg");
}

.icon-twitter {
  background-image: url("../images/twitter.svg");
}

.icon-google-plus {
  background-image: url("../images/google-plus.svg");
}

.icon-youtube {
  background-image: url("../images/youtube.png");
}

.icon-instagram {
  background-image: url("../images/instagram.svg");
}

.icon-linkedin {
  background-image: url("../images/linkedin.svg");
}

.icon-dropdown {
  background-image: url("../images/icon-dropdown.svg");
}

.icon-lang {
  background-image: url("../images/home/lang.png");
}

.icon-arrow-down {
  background-image: url("../images/home/arrow-down.png");
  @include wh(12px, 8px);
}

.icon-gap-line {
  width: 1px;
  height: 13px;
  border: 1px solid rgba(217, 217, 217, 1);
}

.icon-chat {
  background-image: url("../images/home/messenger.png");
  @include wh(18px);
}

.icon-search {
  background-image: url("../images/home/search@2x.png");
  @include wh(21px);
}

.icon-help {
  background-image: url("../images/home/help@2x.png");
  @include wh(23px);
}

.icon-account {
  background-image: url("../images/home/user.png");
  @include wh(22px);
}

.icon-cart {
  background-image: url("../images/home/shop-cart.png");
  @include wh(22px);
}

.icon-arrow-right-all {
  background-image: url("../images/home/arrow-right-all.png");
  @include wh(7px, 1px3);
}

.icon-arrow-right-black {
  background-image: url("../images/home/arrow-right-black.png");
  @include wh(4px, 7px);
}

.icon-arrow-right-blue {
  background-image: url("../images/category-list/arrow-right-blue.png");
  @include wh(6px, 10px);
}

.icon-tag-red {
  background-image: url("../images/category-list/icon-tag-red.png");
  @include wh(11px, 11px);
}

.icon-search-result-link {
  background-image: url("../images/home/arrow-right-1@2x.png");
  @include wh(13px, 9px);
}

.icon-like-heart-gray {
  background-image: url("../images/products/like-heart-gray.png");
  @include wh(15px, 13px);
}

.icon-like-heart-red {
  background-image: url('../images/products/like-heart@2x.png');

  &.active,
  &:hover {
    background-image: url('../images/products/like-heart.png');
  }
}

.icon-tag {
  background-image: url("../images/home/tag.png");
  @include wh(27px);
}

.icon-star {
  background-image: url("../images/products/star.png");
  @include wh(23px, 21px);
}

.icon-shop-cart {
  background-image: url("../images/home/shop-cart-round.png");
  @include wh(27px);
}

.icon-shop-cart.active {
  background-image: url("../images/home/shop-cart-round-active.png");
}

.link-icon {
  background-image: url("../images/home/link.png");
  @include wh(14px);
}

.icon-video-play {
  background-image: url("../images/home/video-play.png");
  @include w(63px);
  @include h(63px);
}

.icon-wuliu {
  background-image: url("../images/home/wuliu.png");
  @include w(40px);
  @include h(30px);
}

.icon-7tiantuihuo {
  background-image: url("../images/home/7tiantuihuo.png");
  @include w(34px);
  @include h(32px);
}

.page-help {

  .icon-7return {
    background-image: url("../images/help/icon-7.png");
    @include w(41px);
    @include h(38px);
  }

  .icon-shop-red {
    background-image: url("../images/help/shop-cart-red.png");
    @include w(37px);
    @include h(37px);
  }

  .arrow-right-blue {
    background-image: url("../images/help/arrow-right-blue.png");
    @include w(41px);
    @include h(38px);
  }

  .icon-international {
    background-image: url("../images/help/international.png");
    @include w(41px);
    @include h(38px);
  }

  .icon-pament {
    background-image: url("../images/help/payment.png");
    @include w(41px);
    @include h(38px);
  }
}

.icon-liwu {
  background-image: url("../images/home/liwu.png");
  @include w(35px);
  @include h(31px);
}

.icon-huodong {
  background-image: url("../images/home/huodong.png");
  @include w(31px);
  @include h(30px);
}

.icon-address {
  background-image: url("../images/home/address.png");
  @include w(17px);
  @include h(17px);
}

.icon-phone {
  background-image: url("../images/home/phone.png");
  @include wh(17px);
}

.icon-mail {
  background-image: url("../images/home/mail.png");
  @include wh(17px, 17px);
}

.icon-facebook {
  background-image: url("../images/home/facebook.png");
  @include w(17px);
  @include h(17px);
}

.icon-twitter {
  background-image: url("../images/home/twitter.png");
  @include w(17px);
  @include h(17px);
}

.icon-youtube {
  background-image: url("../images/home/youtube.png");
  @include w(17px);
  @include h(17px);
}

.icon-pinterest {
  background-image: url("../images/home/pinterest.png");
  @include w(17px);
  @include h(17px);
}

.icon-pay-type {
  background-image: url("../images/home/pay-type.png");
  @include w(164px);
  @include h(26px);
}

.icon-paypal {
  background-image: url("../images/icon-paypal.png");
  @include w(95px);
  @include h(26px);
}


// products
.icon-book {
  background-image: url("../images/products/book@2x.png");
  @include w(28px);
  @include h(36px);
}


// 关于我们
.md {
  &.icon-facebook {
    background-image: url("../images/about-us/facebook@2x.png");
  }

  &.icon-youtube {
    background-image: url("../images/about-us/youtube@2x.png");
  }

  &.icon-twitter {
    background-image: url("../images/about-us/twitter@2x.png");
  }

  &.icon-whatsup {
    background-image: url("../images/about-us/whatsup@2x.png");
  }

  &.icon-pinterest {
    background-image: url("../images/about-us/pinterest@2x.png");
  }
}





.icon-arrow-left-wb {
  background-image: url("../images/icon-arrow-left-wb.png");
  // @include w(18px);
  // @include h(23px);
}

.icon-arrow-right-wb {
  background-image: url("../images/icon-arrow-right-wb.png");
  // @include w(18px);
  // @include h(23px);
}

.icon-grid {
  background-image: url("../images/icon-grid.png");
  @include w(18px);
  @include h(23px);
}

.icon-lock {
  background-image: url("../images/account/icon-lock.png");
  width: 18px;
  height: 18px;
}

.page-shipping-address {

  .icon-check-ok {
    @include w(32px);
    @include h(32px);
    background-image: url('../images/checkout-cart/check-ok.png');
  }
}

.page-checkout-cart {
  .icon-acc {
    @include w(16px);
    @include h(16px);
    background-image: url('../images/checkout-cart/accessories.png');
  }

  .icon-accessories {
    @include w(24px);
    @include h(24px);
    background-image: url('../images/checkout-cart/accessories.png');
  }

  .icon-check-ok {
    @include w(24px);
    @include h(24px);
    background-image: url('../images/checkout-cart/check-ok.png');
  }

  .icon-email-black {
    @include w(24px);
    @include h(24px);
    background-image: url('../images/checkout-cart/email-black.png');
  }

  .icon-email-blue {
    @include w(32px);
    @include h(32px);
    background-image: url('../images/checkout-cart/email-blue.png');
  }

  .icon-help {
    @include w(24px);
    @include h(24px);
    background-image: url('../images/checkout-cart/help.png');
  }

  .icon-live-chat {
    @include w(32px);
    @include h(32px);
    background-image: url('../images/checkout-cart/live-chat.png');
  }


  .icon-select-arrow-down {
    @include w(24px);
    @include h(24px);
    background-image: url('../images/checkout-cart/select-arrow-down.png');
  }

  .icon-squre {
    @include w(24px);
    @include h(24px);
    background-image: url('../images/checkout-cart/squre.png');
  }
}

.icon-print {
  @include w(24px);
  @include h(24px);
  background-image: url('../images/checkout-cart/print.png');
}

.icon-add {
  background-image: url("../images/icon-add.png");
  @include w(18px);
  @include h(18px);
}

.page-account-orders {
  .icon-arrow-down {
    background-image: url("../images/arrow-down.png");
    @include w(24px);
    @include h(24px);
  }
}

.page-vip {

  // 3
  .icon-items {
    background-image: url("../images/vip/items.png");
    width: 76px;
    height: 76px;
  }

  .icon-shipping {
    background-image: url("../images/vip/shipping.png");
    width: 76px;
    height: 76px;
  }

  .icon-help {
    background-image: url("../images/vip/help.png");
    width: 76px;
    height: 76px;
  }

  // brands
  .icon-apple {
    background-image: url("../images/vip/apple.png");
    width: 76px;
    height: 76px;
  }

  .icon-canon {
    background-image: url("../images/vip/canon.png");
    width: 76px;
    height: 76px;
  }

  .icon-huawei {
    background-image: url("../images/vip/huawei.png");
    width: 76px;
    height: 76px;
  }

  .icon-leica {
    background-image: url("../images/vip/leica.png");
    width: 76px;
    height: 76px;
  }

  .icon-lg {
    background-image: url("../images/vip/lg.png");
    width: 76px;
    height: 76px;
  }

  .icon-panasonic {
    background-image: url("../images/vip/panasonic.png");
    width: 76px;
    height: 76px;
  }

  .icon-samsung {
    background-image: url("../images/vip/samsung.png");
    width: 76px;
    height: 76px;
  }

  .icon-sony {
    background-image: url("../images/vip/sony.png");
    width: 76px;
    height: 76px;
  }

  // deals

  .icon-crown-red {
    background-image: url("../images/vip/crown-red.png");
    width: 76px;
    height: 76px;

    &.md {
      width: 37px;
      height: 31px;
    }
  }

  .icon-crown-white {
    background-image: url("../images/vip/crown-white.png");
    width: 26px;
    height: 22px;
  }

  .icon-crown {
    background-image: url("../images/vip/crown.png");
    width: 76px;
    height: 76px;
  }

  // stock
  .icon-camera {
    background-image: url("../images/vip/camera.png");
    width: 76px;
    height: 76px;
  }

  .icon-headphones {
    background-image: url("../images/vip/headphones.png");
    width: 76px;
    height: 76px;
  }


  .icon-mobile {
    background-image: url("../images/vip/mobile.png");
    width: 76px;
    height: 76px;
  }

  .icon-monitor {
    background-image: url("../images/vip/monitor.png");
    width: 76px;
    height: 76px;
  }

  .icon-notification {
    background-image: url("../images/vip/notification.png");
    width: 76px;
    height: 76px;
  }

  .icon-snapchat {
    background-image: url("../images/vip/snapchat.png");
    width: 76px;
    height: 76px;
  }

  .icon-video-camera {
    background-image: url("../images/vip/video-camera.png");
    width: 76px;
    height: 76px;
  }

  .icon-wallet {
    background-image: url("../images/vip/wallet.png");
    width: 76px;
    height: 76px;
  }

  // join
  .icon-tv {
    background-image: url("../images/vip/tv.png");
    width: 76px;
    height: 76px;
  }


  .icon-twitter {
    background-image: url("../images/vip/twitter.png");
    width: 76px;
    height: 76px;
  }

  .icon-youtube {
    background-image: url("../images/vip/youtube.png");
    width: 76px;
    height: 76px;
  }

  .icon-facebook-red {
    background-image: url("../images/vip/facebook-red.png");
    width: 76px;
    height: 76px;
  }

  .icon-instagram {
    background-image: url("../images/vip/instagram.png");
    width: 76px;
    height: 76px;
  }

  .icon-pinterest {
    background-image: url("../images/vip/pinterest.png");
    width: 76px;
    height: 76px;
  }
}

.icon-paytype-transfer {
  background-image: url("../images/checkout-cart/paytype-transfer.png");
  width: 32px;
  height: 32px;

  .active & {
    background-image: url("../images/checkout-cart/paytype-transfer-active.png");
  }
}

.icon-paytype-pp {
  background-image: url("../images/checkout-cart/paytype-pp.png");
  width: 32px;
  height: 32px;

  .active & {
    background-image: url("../images/checkout-cart/paytype-pp-active.png");
  }
}

.icon-check-ok-red {
  background-image: url("../images/checkout-cart/check-ok-red.png");
  width: 32px;
  height: 32px;
}